@font-face {
  font-family: "WinkyRough-Light";
  src: url("../fonts/WinkyRough-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WinkyRough-Regular";
  src: url("../fonts/WinkyRough-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WinkyRough-Medium";
  src: url("../fonts/WinkyRough-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WinkyRough-SemiBold";
  src: url("../fonts/WinkyRough-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WinkyRough-Bold";
  src: url("../fonts/WinkyRough-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WinkyRough-Black";
  src: url("../fonts/WinkyRough-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WinkyRough-ExtraBold";
  src: url("../fonts/WinkyRough-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}