/****************************************************** header */
.header {
  display: flex;
  height: 70px;

  .header__wrap {
    max-width: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
  }

  .header__logo {
    font-weight: bold;
    font-size: 28px;
    font-family: 'WinkyRough-Bold';
  }

  .header__gnb {
    display: flex;
    gap: 40px;

    a {
      font-size: 20px;
      font-family: 'WinkyRough-Light';
      color: #444;
    }
  }

  .header__utils {
    display: flex;
    gap: 20px;
    align-items: baseline;

    .header__utils_git {
      font-size: 21px;
    }

    .header__utils__theme-btn {
      font-size: 24px;
    }
  }
}